{% extends 'products/base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">Корзина</h2>
    {% for cart_item in cart_items %}
      <div class="card mb-3">
        <div class="row">
          <div class="card-body col-lg-2 cart-image">
            {% with image=cart_item.product.image_paths.0 %}
              {% if image %}
                  <a href="{{ cart_item.product.get_absolute_url }}">
                      <img src="/media/{{ image }}" class="card-img-top w-100" alt="{{ product.name }}">
                  </a>
              {% endif %}
            {% endwith %}
          </div>
          <div class="card-body col-lg-8 p-4">
            <h5 class="card-title"><a href="{{ cart_item.product.get_absolute_url }}">
              {{ cart_item.product.name }}</a>
            </h5>
            <div class="card-text mt-3 mb-1">
              <form method="post" action="{% url 'cart:change_quantity' cart_item.pk %}">
                {% csrf_token %}
                <label for="quantity" class="align-middle"><strong>Количество:</strong></label>
                <input class="col-lg-1 align-middle" type="number" id="quantity"
                       name="quantity" min="1" max="{{ cart_item.product.in_stock }}"
                       value="{{ cart_item.quantity }}">
                <button type="submit" class="btn btn-secondary col-lg-2">
                  Изменить
                </button>
              </form>
            </div>
            <p class="card-text">
              <strong>Стоимость:</strong> {{ cart_item.total }} руб.
              {% if cart_item.quantity > 1 %}
                (цена за единицу: {{ cart_item.product.price }} руб.)
              {% endif %}
            </p>
          </div>
          <div class="card-body col-lg-2">
            <form method="post" action="{% url 'cart:delete_cart_item' cart_item.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Удалить</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if not cart_items %}
      <h5>Товары не добавлены в корзину.</h5>
    {% else %}
      <h4><strong>Общая сумма:</strong> {{ total_price }} руб.</h4>

      <form method="post" action="{% url 'cart:clear_cart' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-2">Очистить корзину</button>
      </form>
    {% endif %}
  </div>
{% endblock %}