.carousel-indicators {
    bottom: -25px;
}

.carousel-indicators li {
    background-color: #7a7a7a; /* Цвет индикатора (неактивного) */
    transition: background-color 0.5s ease; /* Плавное изменение цвета при hover */
}

.carousel-indicators li.active {
    background-color: #000;
}

.carousel-control-prev,
.carousel-control-next {
    color: #fff; /* Цвет стрелок */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Инвертирование цвета иконок */
}

