{% extends 'products/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Категория - {{ products.0.category.name }}</h1>

    <!-- Список 10 товаров в категории -->
    <div class="row">
        {% for product in products %}
            <div class="card mb-4 p-2">
                <div class="row">
                  <div class="col-lg-4 prod-image">
                      {% with image=product.image_paths.0 %}
                          {% if image %}
                              <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                  <img src="/media/{{ image }}" class="card-img-top w-80" alt="{{ product.name }}">
                              </a>
                          {% endif %}
                      {% endwith %}
                  </div>

                  <div class="col-lg-6">
                      <div class="card-body">
                          <!-- Название товара с ссылкой на детали товара -->
                          <h5 class="card-title"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.name }}</a></h5>
                          <!-- Характеристики и краткое описание -->
                          <div class="card-text">
                              <h5>Характеристики:</h5>
                              <ul>
                                  {% for key, value in product.properties.items %}
                                      <li><strong>{{ key }}:</strong> {{ value }}</li>
                                  {% endfor %}
                              </ul>
                              <p>Описание: {{ product.description|truncatewords:20 }}</p>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-2 py-3">
                      <p class="card-text">Цена: {{ product.price }} руб.</p>
                          <form method="post" action="{% url 'cart:add_to_cart' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">В корзину</button>
                          </form>
                  </div>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="paginator">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}

    {% for page in paginator.page_range %}
      {% if page_obj.number == page %}
        <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
      {% elif page >= page_obj.number|add:-4 and page <= page_obj.number|add:4 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}