{% extends 'products/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1>{{ product.name }}</h1>

  <!-- Карусель изображений -->
  <div id="imageCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      {% for image in product.image_paths %}
        <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" aria-current="true"{% endif %}></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for image in product.image_paths %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="/media/{{ image }}" class="d-block w-50 mx-auto" alt="{{ product.name }}">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Информация о товаре -->
  <div class="mt-4">
    <h4>Цена</h4>
    <p>{{ product.price }} руб.</p>

    <h4>Количество на складе</h4>
    <p>{{ product.in_stock }}</p>

    <h4>Производитель</h4>
    <p>{{ product.manufacturer }}</p>

    <h4>Характеристики</h4>
    <ul>
      {% for key, value in product.properties.items %}
      <li><strong>{{ key }}:</strong> {{ value }}</li>
      {% endfor %}
    </ul>

    <h4>Описание</h4>
    <p>{{ product.description|linebreaks }}</p>
  </div>
</div>

{% endblock %}